* {
  box-sizing: border-box;
}
/*styling for the body including the back drop which is a really light blue*/
body {
  font-family: Georgia, sans-serif;
  color: black;
  margin: 0;
  background: cover;
  background-image: url("https://goldwallpapers.com/uploads/posts/avatar-anime-wallpaper/avatar_anime_wallpaper_013.jpg");
}
/*customizes the top header font color and positioning*/
header {
  padding: 55px 0 0 0;
  color: cornSilk;
}
/*centers the h1 text which is the title of the quiz*/
h1 {
  text-align: center;
}
/*adjusts the styling of the fonts, text-align, and other style features for the questions*/
.question-and-score {
  font-size: 20px;
  font-weight: 600px;
  color:cornSilk;
  text-align: center;
  list-style: none;
}
/*adjust the button for answer submissions wanted to represent the four elements of the show by making the button red, and when hovered over turns orange*/
button {
  margin-top:10px;
  height: auto;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  color: black;
  background: firebrick;
  border: 0;
  cursor: pointer;
  margin-bottom: 0;
  border-radius:10px;
  padding: 10px 20px;
}

.start-screen, fieldset {
  width:80%;
  padding: 40px;
  margin: 55px auto 0 auto;
  background:rgba(255, 255, 255, 0.8);
  border-radius: 20px;
}

legend {
  font-weight: 700;
  font-size: 18px;
}

.question-form .question {
  margin-bottom: 20px;
  padding: 0 2%;
  font-size: 20px;
  font-weight: 600px;
}

.options ul {
  list-style: none;
  margin:0;
  text-align:left;
}

label {
  font-size:18px;
}

.options span {
  display:block;
  border-radius:5px;
}
/*adjust the styling for the right answer selected*/
.right-answer {
 background:darkkhaki;
 padding: 10px 20px;
 margin: 5px 20px;
 border:2px solid #0073cf;
}
/*adjust the styling for the wrong answer selected*/
.wrong-answer {
  background:darkkhaki;
  padding: 10px;
  margin: 5px 20px;
  border:2px solid #9a6b00;
}
/*makes the questions align right*/
.question-form button {
  float:right;
}

button:hover:enabled,
button:focus:enabled{
  background-color: #ffffff;
  -webkit-transition: background 0.1s;
  -moz-transition: background 0.1s;
  -o-transition: background 0.1s;
  transition: background 0.1s;
}

button:disabled {
  opacity:0.5;
}

#next-question-btn {
  display: none;
}
